/* font-family: "Rubik", sans-serif; */

body {
    font-family: "Rubik", sans-serif;
    /* background-color: #191919; */
    background-color: #323232;
    /* color: #4C6663; */
    /* color: #f5f5f5; */
    color: #DDD0C8;
}




header {
    height: 6rem;
    padding-left: 2rem;
    padding-right: 2rem;
    display: flex;
    align-items: center;
    background-color: #111;
}

header img {
    width: 6rem;
}

nav {
    width: 100%;
}

nav ul {
    padding: 0;
    display: flex;
    justify-content: center;
    
}

nav ul li {
    list-style: none;    
}

nav ul li a {
    margin: 1.5rem;
    text-decoration: none;
    font-size: 1.2rem;
    color: #F5F5F5;
    font-weight: 400;
    transition: all 0.3s ease;
}

nav ul li a:hover {
    color: #555D50;
    text-decoration: underline;
    font-weight: 500;
}

nav ul li a.activo {
    color: #555D50;
    font-weight: 500;
}


.banner_presentacion {
    background-image: url(../img/muebles_cocina.jpg);
    background-position: bottom;
    background-size: cover;
    width: 100%;
    height: 37.5rem;
    opacity: 0.8;
    filter: brightness(0.8);
}

.presentacion {
    position: absolute;
    top: 20rem;
    width: 100%;
}

.presentacion h1 {
    margin: 0;
    text-align: center;
    text-shadow: 0.2rem 0.2rem 0.3rem #000;
}

.presentacion p {
    margin: 0;
    padding-top: 1.5rem;
    text-align: center;
    font-size: 1.6rem;
    font-style: italic;
    font-weight: 400;
    text-shadow: 0 0 0.3rem #000;
    color: #fff;
}

.iconos {
    margin: auto;
    margin-top: 1rem;
    display: flex;
    justify-content: space-between;
    width: 80%;
}


.icono {
    width: 11rem;
    height: 11rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: all 0.3s;
    background-color: #DDD0C8;
    color: #555D50;
    border-radius: 50%;
    transform: scale(0.9);
    border: solid 0.25rem #555D50;
    box-shadow: 0 0 0.3rem #fff;
}

.icono i {
    font-size: 3.6rem;
    transform: translateY(1rem);
}

.icono p {
    padding-top: 0.6rem;
    transform: translateY(1.25rem);
    font-size: 1.1rem;
    font-weight: 400;
    font-style: italic;
}

.icono:hover {
    transform: scale(1);
    /* color: #79443B; */
    color: #555D50;
    background-color: #DDD0C8;
    cursor: pointer;
}


/* revisado - ok  */

h1 {
    font-size: 3.2rem;
    font-weight: 500;
    letter-spacing: 0.2rem;
    font-style: italic;
    color: #F5F5F5;
}

h2 {
    font-size: 2.4rem;
    font-weight: 500;
    font-style: italic;
    letter-spacing: 1px;
}

h3 {
    margin: 0;
    font-size: 1.7rem;
    font-weight: 400;
    font-style: italic;
}

h4 {
    margin: 0;
    font-size: 1.4rem;
    font-style: italic;
    font-weight: 400;
}

p {
    font-size: 1.1rem;
    line-height: 1.3rem;
    font-weight: 300;
    text-align: justify;
}

ul li {
    font-size: 1.1rem;
    line-height: 1.5rem;
    font-weight: 300;
}


.bienvenida {
    margin: 2rem auto;
    max-width: 90%;
}

.bienvenida img {
    margin: 1rem 0;
    margin-right: 3rem;
    width: 800px;
    float: left;
    border-radius: 20px;
    border: solid 0.25rem #555D50;
    box-shadow: 0 0 0.3rem #fff;
    opacity: 0.8;
}

.text_box h2 {
    margin: 0;
    text-transform: uppercase;
    text-align: center;
}

.text_box ul li {   
    text-align: justify;
}


.info {
    margin: 3rem auto;
    max-width: 90%;
    min-height: 65vh;
}

.info img {
    margin-bottom: 1rem;
    margin-left: 3rem;
    width: 800px;
    float: right;
    border-radius: 20px;
    border: solid 0.25rem #555D50;
    box-shadow: 0 0 0.3rem #fff;
    opacity: 0.8;
}

.info ul li {
    text-align: justify;
}

/* Secci칩n de Productos */







.coleccion {
    margin-bottom: 2rem;
    display: flex;
    justify-content: space-between;
    align-items: top;
}

.coleccion_presentacion {
    width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.coleccion_presentacion h2 {
    text-align: center;
}

.coleccion_presentacion p {
    margin: 0;
    padding: 0 8rem;
    line-height: 2rem;
    font-weight: 400;
    box-sizing: border-box;
    border-radius: 20px;
    font-size: 1.2rem;
}

.coleccion_img {
    width: 40%;
    display: flex;
    justify-content: end;
}

.coleccion_img img {
    width: 100%;
    max-height: 510px;
    opacity: 0.7;
    border-radius: 0 0 0 32rem;
}






.muebles_cocina {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    margin-bottom: 2rem;
}

.muebles_cocina_text {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    top: 40%;
    color: #fff;
    z-index: 1;
}

.muebles_cocina_text h2 {
    margin: 0;
    font-size: 3.6rem;
    text-transform: uppercase;
    text-shadow: 2px 2px 3px black;
}

.muebles_cocina_text p {
    font-size: 1.2rem;
    font-style: italic;
    text-shadow: 2px 2px 3px black;
    font-weight: 400;
}

.muebles_cocina img {
    width: 100%;
    height: 450px;
    opacity: 0.8;
    filter: brightness(0.8);
    border-top: solid 4px #fff;
    border-bottom: solid 4px #fff;
}


.coleccion_cocina {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    margin-bottom: 2rem;
}


.coleccion_cocina_alacena {
    display: flex;
    flex-direction: column;
    align-items: center;
    }



.coleccion_cocina_isla {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.coleccion_cocina_despensero {
    display: flex;
    flex-direction: column;
    align-items: center;
    }
    
.coleccion_cocina h3 {
    margin-bottom: 1rem;
    text-transform: uppercase;
    padding-left: 5px;
    box-shadow: -3px 3px 4px #555D50;
    font-weight: 500;
}
.coleccion_cocina img {
    width: 30rem;
    border-radius: 2rem 2rem 0 0;
}


.coleccion_cocina p {
    margin: 0;
    padding: 1rem;
    background-color: #111;
    font-size: 1.2rem;
    width: 30rem;
    text-align: justify;
    box-sizing: border-box;
    border-radius: 0 0 10px 10px;
    box-shadow: 0px 3px 5px #555D50;
}


.muebles_comedor {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    margin-bottom: 2rem;
}

.muebles_comedor_text {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    top: 40%;
    color: #fff;
    z-index: 1;
}

.muebles_comedor_text h2 {
    margin: 0;
    font-size: 3.6rem;
    text-transform: uppercase;
    text-shadow: 2px 2px 3px black;
}

.muebles_comedor_text p {
    font-size: 1.2rem;
    font-style: italic;
    text-shadow: 2px 2px 3px black;
    font-weight: 400;
}

.muebles_comedor img {
    width: 100%;
    height: 450px;
    opacity: 0.8;
    filter: brightness(0.8);
    border-top: solid 4px #fff;
    border-bottom: solid 4px #fff;
}


.coleccion_comedor {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    margin-bottom: 2rem;
}

.coleccion_comedor_mesa {
    display: flex;
    flex-direction: column;
    align-items: center;
}


.coleccion_comedor_barra {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.coleccion_comedor_aparador {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.coleccion_comedor h3 {
    margin-bottom: 1rem;
    text-transform: uppercase;
    padding-left: 5px;
    box-shadow: -3px 3px 4px #555D50;
    font-weight: 500;
}
.coleccion_comedor img {
    width: 30rem;
    border-radius: 2rem 2rem 0 0;
}
.coleccion_comedor p {
    margin: 0;
    padding: 1rem;
    background-color: #111;
    font-size: 1.2rem;
    width: 30rem;
    text-align: justify;
    box-sizing: border-box;
    border-radius: 0 0 10px 10px;
    box-shadow: 0px 3px 5px #555D50;
}






.muebles_habitacion {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    margin-bottom: 2rem;
}

.muebles_habitacion_text {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    top: 40%;
    color: #fff;
    z-index: 1;
}

.muebles_habitacion_text h2 {
    margin: 0;
    font-size: 3.6rem;
    text-transform: uppercase;
    text-shadow: 2px 2px 3px black;
}

.muebles_habitacion_text p {
    font-size: 1.2rem;
    font-style: italic;
    text-shadow: 2px 2px 3px black;
    font-weight: 400;
}

.muebles_habitacion img {
    width: 100%;
    height: 450px;
    opacity: 0.8;
    filter: brightness(0.8);
    border-top: solid 4px #fff;
    border-bottom: solid 4px #fff;
}


.coleccion_habitacion {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    margin-bottom: 2rem;
}

.coleccion_habitacion_cama {
    display: flex;
    flex-direction: column;
    align-items: center;
}


.coleccion_habitacion_mesita {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.coleccion_habitacion_placard {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.coleccion_habitacion h3 {
    margin-bottom: 1rem;
    text-transform: uppercase;
    padding-left: 5px;
    box-shadow: -3px 3px 4px #555D50;
    font-weight: 500;
}
.coleccion_habitacion img {
    width: 30rem;
    border-radius: 2rem 2rem 0 0;
}
.coleccion_habitacion p {
    margin: 0;
    padding: 1rem;
    background-color: #111;
    font-size: 1.2rem;
    width: 30rem;
    text-align: justify;
    box-sizing: border-box;
    border-radius: 0 0 10px 10px;
    box-shadow: 0px 3px 5px #555D50;
}






.muebles_estar {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    margin-bottom: 2rem;
}

.muebles_estar_text {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    top: 40%;
    color: #fff;
    z-index: 1;
}

.muebles_estar_text h2 {
    margin: 0;
    font-size: 3.6rem;
    text-transform: uppercase;
    text-shadow: 2px 2px 3px black;
}

.muebles_estar_text p {
    font-size: 1.2rem;
    font-style: italic;
    text-shadow: 2px 2px 3px black;
    font-weight: 400;
}

.muebles_estar img {
    width: 100%;
    height: 450px;
    opacity: 0.8;
    filter: brightness(0.8);
    border-top: solid 4px #fff;
    border-bottom: solid 4px #fff;
}


.coleccion_estar {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    margin-bottom: 2rem;
}

.coleccion_estar_rack {
    display: flex;
    flex-direction: column;
    align-items: center;
}


.coleccion_estar_mesa {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.coleccion_estar_escritorio {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.coleccion_estar h3 {
    margin-bottom: 1rem;
    text-transform: uppercase;
    padding-left: 5px;
    box-shadow: -3px 3px 4px #555D50;
    font-weight: 500;
}
.coleccion_estar img {
    width: 30rem;
    border-radius: 2rem 2rem 0 0;
}
.coleccion_estar p {
    margin: 0;
    padding: 1rem;
    background-color: #111;
    font-size: 1.2rem;
    width: 30rem;
    text-align: justify;
    box-sizing: border-box;
    border-radius: 0 0 10px 10px;
    box-shadow: 0px 3px 5px #555D50;
}




















@media screen and (max-width: 430px) {
    /* Estilos para dispositivos m칩viles peque침os */
    body {
        background-color: red;
    }
}

@media screen and (min-width: 431px) and (max-width: 1024px) {
    /* Estilos para tabletas y dispositivos medianos */
    body {
        background-color: green;
    }
}


@media screen and (min-width: 1025px) and (max-width: 1599px) {
    /* Estilos para notebooks */
    .bienvenida img, .info img {
        width: 760px;
    }
    h2 {
        font-size: 1.6rem;
        letter-spacing: 0.5px;
    }
    h3 {
        font-size: 1.4rem;
    }
    p {
        font-size: 1rem;
        line-height: 1.2rem;
    }
    ul li {
        font-size: 1rem;
        line-height: 1.3rem;
        font-weight: 300;
    }
    #dise침o_exclusivo {
        margin-top: 3rem;
    }


    .coleccion_presentacion p {
        font-size: 1.1rem;
        line-height: 1.5rem;
        padding: 0 6rem;
    }
    .coleccion_cocina p, .coleccion_comedor p, .coleccion_habitacion p, .coleccion_estar p {
        font-size: 1.1rem;
    }

    .coleccion_cocina, .coleccion_comedor, .coleccion_habitacion, .coleccion_estar {
        transform: scale(0.95);
    }
}



@media screen and (min-width: 1600px) {
    
}
























footer {
    background-color: #111111;
    padding: 15px 0;
}

footer p {
    text-align: center;
}